﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/foundation.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
        <style>
    	
    	body{background:url("img/noise.png") repeat;}
    	.logo {height:240px;margin-top:30px;margin-bottom:25px;}
  		.quotes {margin:80px 0 !important}
  		.sublogo h2,.sublogo h3{font-weight:bold;color:#58585A !important;}
  	  	.contactinfo h3{color:#58585A !important; font-size: 18px;}
	  	h3 {color:#58585A !important;}
	  	h3.subheaderh3 {font-size:40px !important}
	  	p.subheaderp {color: #555555;}
	  	.gal{margin-bottom: 15px;margin-right: 20px !important;}
        textarea {
	  		min-height: 220px;
	  	}
	  	
		
	  	.mapsize {width:100%; height: 560px;}
	  	 .row.firstrow{margin-bottom: 60px;}
	  	 .parsley-success{background: rgba(63,213,75,0.18) !important}	
	  	 .parsley-error-list{background:rgba(230,59,59,0.72);list-style: none;padding: 8px;margin: 0;margin-bottom: 15px; }	
	  	 .parsley-error{background:rgba(230,59,59,0.18) !important}
	  	 	h1.quoter, h2.quoter {
	display: inline-block;
    border-left: 4px solid #ccc;
    color: #757575;
    font-style: italic !important;
    margin: 0px 0 30px 15px;
    padding-left: 15px;     
    text-indent: 25px;
    font-size:20px;
    text-indent: 25px;
    font-weight: 500;
}
  	</style>
    </head>
    <body>
       
             <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=221902781276537";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53107360-1', 'auto');
  ga('send', 'pageview');

</script>
  <div class="fixed">
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name show-for-small-only">
      <h1><a href="#">Home</a></h1>
    </li>
     <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
        </li>
  </ul>

  <section class="top-bar-section">
    <!-- body {background:#fcfcfc;}
Right Nav Section -->
    <ul class="right">
         
    </ul>
    @RenderSection("Links", required: true)
   
  </section>
</nav>
  </div>
<br />
	  <div class="row firstrow">
	  <div class="large-8 medium-12 columns large-centered">
      <div class="large-6 medium-6 columns">
         <img class="logo" src="./img/logo.png" alt="Southern Joinery" />
      </div>
      <div  itemscope itemtype="http://schema.org/LocalBusiness" class="large-6 medium-6 columns contactinfo">
		 <span class="zeroheight" itemprop="name">Southern Joinery</span>

		 <h3>P: <span itemprop="telephone">03 9587 0402</span></h3>
		 <h3>M: 0423 650 804</h3>
		 <h3>E: <span itemprop="email">info@southernjoinery.net.au</span></h3><br />
		 <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<h3 class="add"><span itemprop="streetAddress">20 Japaddy St</span> <span itemprop="addressLocality">Mordialloc</span> <span itemprop="addressRegion">VIC</span>  <span itemprop="postalCode">3195</span></h3></div>
         
    </div>
         </div>
	  </div>
                @RenderBody()
        <br />
   <div class="row full-width"> <div class="sbuzz large-4 medium-4 columns"><p><br />Copyright Southern Joinery</p><p>All rights reserved</p><p><script>var d = new Date();var n = d.getFullYear();document.write(n);</script></p></div><div class="large-2 medium-3 small-8 small-centered columns"><br /><div class="large-6 medium-6 small-6 columns fb-like" data-href="http://southerjoinery.net.au" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div><div class="large-6 medium-6 small-6 columns"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://southernjoinery.net.au" data-text="Check out these guys - Best joinery in Melbourne!" data-size="large" data-count="none" data-hashtags="SouthernJoinery">Tweet</a></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div><div class="sbuzz large-4 medium-4 columns"><p>This website powered by</p><a href="http://staticbuzz.com.au"><img src="img/sbuzzlogosmall.png" alt="Powered by Staticbuzz Development" /></a><br /></div></div>


      
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
        @RenderSection("Scripts", required: false)
    </body>
</html>