﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Southern Joinery ABOUT | Cabinets | Kitchens | Decking | Cabinetry";
}

@section Links{
     <!-- Left Nav Section -->
    <ul class="left">
    <li><a href="/">Home</a></li>
<li class="divider"></li>
      <li class="active"><a href="about">About Us</a></li>
      <li class="divider"></li>
      <li>
        <a href="contact">Contact Us</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="gallery">Gallery</a>
      </li>
  </ul>
}
<div class="row">
      <div class="large-5 medium-5 small-12 columns">
      <h1 class="quoter">About Southern Joinery</h1>
		  <p class="subheaderp">Southern Joinery is a young and dynamic company specialising in quality, stylish joinery of all types. We build kitchens, al fresco, robes, entertainment units, bars, cabinets and more! At Southern Joinery, we only use materials of the highest quality and our handiwork is built to last. Take a look at our gallery page and feel free to contact us with any enquiries or for a quote.</p>
      </div>
      <div class="large-7 medium-7 small-12 columns">
		  <img src="../img/sj-slider-00.jpg" width="500px" alt="feature"/>
       </div>
     </div>  
     <br />
     <div class="row">
      <div class="large-5 medium-5 small-12 columns">
		  <img src="../img/smmap.png" width="380px" alt="location"/><br /><br />
		  <h2 class="quoter">Located in the heart of Mordialloc</h2>
      </div>
      <div class="large-7 medium-7 small-12 columns">
		  <img src="../img/sj-slider-01.jpg" width="500px" alt="secondfeature"/>
		  <!--<br /><br /><p>Proud sponsors of <a href="#">Blah Blah Football Club</a></p>-->
       </div>
     </div>  
		  </div>
     </div>