﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Southern Joinery CONTACT | Cabinets | Kitchens | Decking | Cabinetry";
}

@section Scripts{
    <script src="~/Scripts/parsley.js"></script>
       <script>
      $(document).foundation();
      
      $( '#contactform' ).parsley();
      
      function dovalidation()
      {
      	  //get values from form, ignoring empty, and process for ajax post.
      	  values = $('#contactform').find(":input").filter(function () {
            return $.trim(this.value).length > 0
        }).serialize();
	      $( '#contactform' ).parsley( 'validate' );
	      if ($( '#contactform' ).parsley( 'isValid' ) == true)
	      {
		      $.ajax({
				  type: "POST",
				  data: values,
				  url: "Emailsend.cshtml"
			  }).done(function(data){
			  //where to put response data (in this case replace the whole form with it)
		 $("#contactform").html(data);
		 });
	      }
      }
      </script>
}

@section Links{
     <!-- Left Nav Section -->
    <ul class="left">
    <li><a href="/">Home</a></a></li>
<li class="divider"></li>
      <li><a href="about">About Us</a></li>
      <li class="divider"></li>
      <li class="active">
        <a href="contact">Contact Us</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="gallery">Gallery</a>
      </li>
  </ul>
}

<div class="row">
      		<div class="large-5 medium-6 columns">
      		<h1 class="quoter">Contact Southern Joinery</h1>
		  <div class="panel"><p>Please feel free to email us with any enquiries</p></div>
        <form parsley-validate id="contactform" name="contactform" method="post" action="../lib/send_form_email.php" novalidate>
				  <div class="row">
				    <div class="large-12 columns">
				      <label>Name</label>
				      <input type="text" parsley-trigger="change" name="custname" id="custname" placeholder="required" required/>
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-12 medium-12 columns">
				      <label>Preferred response by</label>
				      <input type="radio" name="optContact" value="phone" id="optPhone" checked="checked" required><label for="optPhone" >Phone</label>
				      <input type="radio" name="optContact" value="email" id="optEmail"><label for="optEmail">Email</label>
				    </div>
				  </div>
				  <div class="row">
				    
				    <div class="large-5 medium-5 columns">
				      <label>Phone number</label>
				      <input type="phone" parsley-type='phone' parsley-trigger="change" name="phone" id="phone" placeholder="optional" />
				    </div>
				    <div class="large-7 medium-7 columns">
				      <label>Email</label>
				      <input type="email" parsley-trigger="change" name="email" id="email" placeholder="required" required/>
				    </div>
				  </div>
				     <div class="row">
				    <div class="large-7 medium-7 columns">
				       <label>Suburb</label>
				       <input type="text" parsley-trigger="change" name="address" id="address" placeholder="optional" />
				    </div>
				     
				    <div class="large-5 medium-5 columns">
				      <label>State</label>
				      <select name="state" id="state">
				        <option value="none" selected="selected">optional</option>
				        <option value="VIC">VIC</option>
				        <option value="NSW">NSW</option>
				        <option value="QLD">QLD</option>
				        <option value="TAS">TAS</option>
				        <option value="SA">SA</option>
				        <option value="WA">WA</option>
				        <option value="NT">NT</option>
				        <option value="ACT">ACT</option>
				      </select>
				    </div>
				  </div>
				  
				  <div class="row">
				    <div class="large-12 columns">
				      <label>Your message</label>
				      <textarea cols='10' parsley-trigger="keyup" parsley-rangelength="[20,1000]" placeholder="required" name="comments" id="comments" required></textarea>
				    </div>
				  </div>
				  <input class="button" onclick="dovalidation();" value="Send Email">
				</form>
      <div id="emailresp"></div>
      </div>
    
    
      <div id="map_canvas" class="large-6 medium-6 columns">
       <h2 class="quoter">Find us here!</h2><br />
       <iframe class="mapsize" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=20+Japaddy+Street,+Mordialloc,+Victoria&amp;aq=0&amp;oq=20+jap&amp;sll=-37.860283,145.079616&amp;sspn=1.431176,2.905884&amp;ie=UTF8&amp;hq=&amp;hnear=20+Japaddy+St,+Mordialloc+Victoria+3195&amp;ll=-37.98937,145.104071&amp;spn=0.089292,0.181618&amp;t=m&amp;z=13&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=20+Japaddy+Street,+Mordialloc,+Victoria&amp;aq=0&amp;oq=20+jap&amp;sll=-37.860283,145.079616&amp;sspn=1.431176,2.905884&amp;ie=UTF8&amp;hq=&amp;hnear=20+Japaddy+St,+Mordialloc+Victoria+3195&amp;ll=-37.98937,145.104071&amp;spn=0.089292,0.181618&amp;t=m&amp;z=13" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
     
    </div> 