﻿<!--email test  -->
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Southern Joinery HOME | Cabinets | Kitchens | Decking | Cabinetry";
}

@section Links{
     <!-- Left Nav Section -->
    <ul class="left">
    <li class="active"><a href="/">Home</a></li>
<li class="divider"></li>
      <li><a href="about">About Us</a></li>
      <li class="divider"></li>
      <li>
        <a href="contact">Contact Us</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="gallery">Gallery</a>
      </li>
  </ul>
}

<div class="row">
      <div class="large-12 medium-12 small-12 columns">

    
   <ul data-orbit data-options="animation:slide;
                  pause_on_hover:false;
                  animation_speed:200;
                  timer_speed:4000;
                  navigation_arrows:true;
                  bullets:false;
                  next_on_click:true;
                  slide_number:false;">
    <li>
      <img class="sliderimg" src="img/sj-slider-00.jpg" width='1000' alt="featured image 1" />
      <!--<div class="orbit-caption">
        Caption One.
      </div>-->
    </li>
    <li>
      <img  class="sliderimg" src="img/sj-slider-02.jpg" width='1000' alt="featured image 2" />
     <!-- <div class="orbit-caption">
        Caption Three.
      </div>-->
    </li>
    <li>
      <img  class="sliderimg" src="img/sj-slider-03.jpg" width='1000' alt="featured image 3" />
      <!--<div class="orbit-caption">
        Caption Four.
      </div>-->
    </li>
     <li>
      <img  class="sliderimg" src="img/work/f1-banner.jpeg" width='1000' alt="featured image 4" />
      <!--<div class="orbit-caption">
        Caption Four.
      </div>-->
    </li>

  </ul>
  
  </div>
     </div>
  
   <div class="row">
      <div class="large-12 medium-12 columns">
      <br /><br /><br />
      	<h1 class="quoter">"Cabinets, kitchens, bathrooms, laundries, wardrobes, decking and commercial premises – you can rely on our expertise and passion at Southern Joinery to bring your dream project to life."</h1><br /><br />
      	      	<div class="panel">
	        <div class="row">
	        	<div class="large-4 medium-6 columns">
	    		<h3 class="subheaderh3">QUALITY</h3><p class="subheaderp">We believe in using only the highest quality materials for your designs</p>
	    	</div>
	        	<div class="large-4 medium-6 columns">
	        		<h3 class="subheaderh3">VALUE</h3><p class="subheaderp">Our commitment is to offer you the very best possible value</p>
	        	</div>
	        	<div class="large-4 columns">
	        		<h3 class="subheaderh3">STYLE</h3><p class="subheaderp">We pride ourselves on being on the cutting edge of design</p>
	        	</div>        
					</div>
      	</div>
      </div>
            <div class="large-12 medium-12 columns">
				<br /><br />
      <h2 class="quoter">"Southern Joinery only partners with quality suppliers to ensure quality, value and satisfaction on each and every occasion."</h2><br />
            </div>
    </div>
   