﻿@using SendGrid;
@using System.Net.Mail;
@using System;
@using System.Net;

@if (Request["custname"] == null || Request["comments"] == null)
{
    <div><h3>Something went wrong!</h3><p>Please try again.</p></div>
} 
else {
    string name = Request["custname"]; // required;
    SendGridMessage myMessage = new SendGridMessage();
    myMessage.AddTo("info@southernjoinery.net.au");
    myMessage.From = new MailAddress("info@southernjoinery.net.au", "Southern Joinery");
    myMessage.Subject = "ENQUIRY for SOUTHERN JOINERY from " + name;
    
    var debuggingFlag = false;
    string errorMessage = "";
    string email_from = Request["email"]; // required
    if (email_from == null)
    {
        email_from = "none";
    }
    string comments = Request["comments"]; // required
    string suburb = Request["address"]; // required
    if (suburb == null)
    {
        suburb = "none";
    }
    string state = Request["state"]; // required
    string phone = Request["phone"]; // optional
    if (phone == null)
    {
        phone = "none";
    }
    string optContact = Request["optContact"]; // required
    string emailMessage = "Customer's contact details:<br /><br />Name: " + name + "<br />Email: " + email_from + "<br />Suburb: " + suburb + "<br />State: " + state;
    emailMessage += "<br />Phone: " + phone + "<br />Preferred contact method: " + optContact + "<br /><br />Comments: " + comments;


    var credentials = new NetworkCredential("azure_e84c7b41ea7b0b953d50e7da0070df47@azure.com", "j9cpIPVV3CleF6T");
    var transportWeb = new Web(credentials);
    
    myMessage.Html = emailMessage;

    transportWeb.Deliver(myMessage);
       
    
    <div><h3>Thank you for your message</h3><p>We will be in touch with you very soon.</p><br /><img width='300' src="img/emailsend.png" alt="email sent"/></div>
}