﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Southern Joinery GALLERY | Cabinets | Kitchens | Decking | Cabinetry";
}

@section Links{
     <!-- Left Nav Section -->
    <ul class="left">
    <li><a href="/">Home</a></li>
<li class="divider"></li>
      <li><a href="about">About Us</a></li>
      <li class="divider"></li>
      <li>
        <a href="contact">Contact Us</a>
      </li>
      <li class="divider"></li>
      <li class="active">
        <a href="gallery">Gallery</a>
      </li>
  </ul>
}
           <div class="row">
      <div class="large-12 medium-12 small-12 columns">
		  <br /><h1 class="quoter">Southern Joinery Gallery</h1><h3>Some recent projects</h3><br />
    
   <ul data-orbit data-options="animation:slide;
                  pause_on_hover:false;
                  animation_speed:200;
                  timer_speed:4000;
                  navigation_arrows:true;
                  bullets:false;
                  next_on_click:true;
                  slide_number:false;">
    <li>
      <img src="../img/sj-slider-00.jpg" width='1000' alt="slide 1" />

    </li>
    <li>
      <img src="../img/work/f1-banner.jpeg" width='1000' alt="slide 2" />

    </li>
    <li class="active">
      <img src="../img/sj-slider-02.jpg" width='1000' alt="slide 3" />
   
          </li>

  </ul>
  
  </div>
     </div>

    
              
        <div class="row">
      <div class="large-12 medium-12 small-12 columns">
      <br /><br /><h3>Kitchen</h3><br />
		 <ul class="clearing-thumbs" data-clearing>
             <li class="gal"><a href="../img/work/p/kitchen.jpg"><img src="../img/work/p/kitchen-th.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/p/kitchen3.jpg"><img src="../img/work/p/kitchen3-th.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/p/kitchen4.jpg"><img src="../img/work/p/kitchen4-th.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/p/kitchen8.jpg"><img src="../img/work/p/kitchen8-th.jpg" width="100"></a></li>        
             <li class="gal"><a href="../img/work/sj-pic-00.JPG"><img src="../img/work/sj-pic-00_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-01.JPG"><img src="../img/work/sj-pic-01_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-07.JPG"><img src="../img/work/sj-pic-07_thumb.jpg" width="100"></a></li>  
             <li class="gal"><a href="../img/work/sj-pic-13.JPG"><img src="../img/work/sj-pic-13_thumb.jpg" width="100"></a></li>  
             <li class="gal"><a href="../img/work/sj-pic-26.JPG"><img src="../img/work/sj-pic-26_thumb.jpg" width="100"></a></li>  
             <li class="gal"><a href="../img/work/sj-pic-27.JPG"><img src="../img/work/sj-pic-27_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-28.JPG"><img src="../img/work/sj-pic-28_thumb.jpg" width="100"></a></li> 
             <li class="gal"><a href="../img/work/sj-pic-29.JPG"><img src="../img/work/sj-pic-29_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-32.JPG"><img src="../img/work/sj-pic-32_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-35.JPG"><img src="../img/work/sj-pic-35_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-36.JPG"><img src="../img/work/sj-pic-36_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-37.JPG"><img src="../img/work/sj-pic-37_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-38.JPG"><img src="../img/work/sj-pic-38_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-39.JPG"><img src="../img/work/sj-pic-39_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-40.JPG"><img src="../img/work/sj-pic-40_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-42.JPG"><img src="../img/work/sj-pic-42_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-43.JPG"><img src="../img/work/sj-pic-43_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-44.JPG"><img src="../img/work/sj-pic-44_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/e2.jpeg"><img src="../img/work/e2-thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/e8.jpeg"><img src="../img/work/e8-thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/ls/kitchen2.jpg"><img src="../img/work/ls/kitchen2-th.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/ls/kitchen5.jpg"><img src="../img/work/ls/kitchen5-th.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/ls/kitchen7.jpg"><img src="../img/work/ls/kitchen7-th.jpg" width="100"></a></li>  
             <li class="gal"><a href="../img/work/sj-pic-ls-00.JPG"><img src="../img/work/sj-pic-ls-00_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-ls-08.JPG"><img src="../img/work/sj-pic-ls-08_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/f1.jpeg"><img src="../img/work/f1-th.jpeg" width="100"></a></li>
             <li class="gal"><a href="../img/work/f2.jpeg"><img src="../img/work/f2-th.jpeg" width="100"></a></li>
             <li class="gal"><a href="../img/work/f3.jpeg"><img src="../img/work/f3-th.jpeg" width="100"></a></li>
             <li class="gal"><a href="../img/work/f4.jpeg"><img src="../img/work/f4-th.jpeg" width="100"></a></li>
</ul>    
       </div>
       </div>
       
            <div class="row">
      <div class="large-12 medium-12 small-12 columns">
      <br /><h3>Vanity</h3><br />
		 <ul class="clearing-thumbs" data-clearing>
             <li class="gal"><a href="../img/work/p/vanity.jpg"><img src="../img/work/p/vanity-th.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-03.JPG"><img src="../img/work/sj-pic-03_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-04.JPG"><img src="../img/work/sj-pic-04_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-33.JPG"><img src="../img/work/sj-pic-33_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-34.JPG"><img src="../img/work/sj-pic-34_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/e1.jpeg"><img src="../img/work/e1-thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/e3.jpeg"><img src="../img/work/e3-thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/e4.jpeg"><img src="../img/work/e4-thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-ls-06.JPG"><img src="../img/work/sj-pic-ls-06_thumb.jpg" width="100"></a></li> 
          </ul>    
       </div>
       </div>
       
                   <div class="row">
      <br /><div class="large-12 medium-12 small-12 columns">
      <h3>Robe</h3><br />
		 <ul class="clearing-thumbs" data-clearing>
             <li class="gal"><a href="../img/work/p/robe.jpg"><img src="../img/work/p/robe-th.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/p/robe4.jpg"><img src="../img/work/p/robe4-th.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-05.JPG"><img src="../img/work/sj-pic-05_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-20.JPG"><img src="../img/work/sj-pic-20_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-21.JPG"><img src="../img/work/sj-pic-21_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-22.JPG"><img src="../img/work/sj-pic-22_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/sj-pic-31.JPG"><img src="../img/work/sj-pic-31_thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/e5.jpeg"><img src="../img/work/e5-thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/e6.jpeg"><img src="../img/work/e6-thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/e7.jpeg"><img src="../img/work/e7-thumb.jpg" width="100"></a></li>
             <li class="gal"><a href="../img/work/ls/robe2.jpg"><img src="../img/work/ls/robe2-th.jpg" width="100"></a></li>
         </ul>    
       </div>
       </div>
       
                  <div class="row">
      <br /><div class="large-12 medium-12 small-12 columns">
      <h3>Display</h3><br />
		 <ul class="clearing-thumbs" data-clearing>
            <li class="gal"><a href="../img/work/sj-pic-14.JPG"><img src="../img/work/sj-pic-14_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-15.JPG"><img src="../img/work/sj-pic-15_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-41.JPG"><img src="../img/work/sj-pic-41_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-06.JPG"><img src="../img/work/sj-pic-06_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/ls/study.jpg"><img src="../img/work/ls/study-th.jpg" width="100"></a></li>
        </ul>    
       </div>
       </div>


                   <div class="row">
      <br /><div class="large-12 medium-12 small-12 columns">
      <h3>Entertainment Units</h3><br />
		 <ul class="clearing-thumbs" data-clearing>
            <li class="gal"><a href="../img/work/ls/entertainment.jpg"><img src="../img/work/ls/entertainment-th.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/ls/entertainment2.jpg"><img src="../img/work/ls/entertainment2-th.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/ls/entertainment3.jpg"><img src="../img/work/ls/entertainment3-th.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/ls/entertainment4.jpg"><img src="../img/work/ls/entertainment4-th.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-ls-04.JPG"><img src="../img/work/sj-pic-ls-04_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-ls-05.JPG"><img src="../img/work/sj-pic-ls-05_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-ls-09.JPG"><img src="../img/work/sj-pic-ls-09_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-ls-10.JPG"><img src="../img/work/sj-pic-ls-10_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-16.JPG"><img src="../img/work/sj-pic-16_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-17.JPG"><img src="../img/work/sj-pic-17_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-18.JPG"><img src="../img/work/sj-pic-18_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-19.JPG"><img src="../img/work/sj-pic-19_thumb.jpg" width="100"></a></li>
        </ul>    
       </div>
       </div>

                          <div class="row">
      <br /><div class="large-12 medium-12 small-12 columns">
      <h3>Alfresco/BBQ</h3><br />
		 <ul class="clearing-thumbs" data-clearing>
            <li class="gal"><a href="../img/work/sj-pic-10.JPG"><img src="../img/work/sj-pic-10_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-11.JPG"><img src="../img/work/sj-pic-11_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-12.JPG"><img src="../img/work/sj-pic-12_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-ls-01.JPG"><img src="../img/work/sj-pic-ls-01_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-ls-02.JPG"><img src="../img/work/sj-pic-ls-02_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-ls-03.JPG"><img src="../img/work/sj-pic-ls-03_thumb.jpg" width="100"></a></li>
        </ul>    
       </div>
       </div>

     <div class="row">
      <br /><div class="large-12 medium-12 small-12 columns">
      <h3>Bar </h3><br />
		 <ul class="clearing-thumbs" data-clearing>
            <li class="gal"><a href="../img/work/sj-pic-45.JPG"><img src="../img/work/sj-pic-45_thumb.jpg" width="100"></a></li>
            <li class="gal"><a href="../img/work/sj-pic-46.JPG"><img src="../img/work/sj-pic-46_thumb.jpg" width="100"></a></li>
        </ul>    
      </div>
   </div>